.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 1rem 0;
}

.cell {
  aspect-ratio: 1;
  font-size: 2rem;
  cursor: pointer;
  background-color: #1a1a1a;
}
.cell:hover {
  border-color: #bd34fe;
}

.cell:disabled {
  cursor: not-allowed;
  background-color: #1a1a1aad;
}

.cell[data-value='X'] {
  color: #00d8ff;
}

.cell[data-value='0'] {
  color: #ffcb23;
}
